body{
    margin: 0;
    padding: 0rem;
    box-sizing: border-box;
}

/* container général */
.principal{
    padding: 1rem;
}

/* balise classique */
a{
    text-decoration: none!important;
    color: burlywood;
}

/* Mise en forme navbar */
.navClass{
    font-family: 'Fredoka One', cursive;
    color: white;
    background-color: black;
}
